{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Speed Reading App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://www.gstatic.com/firebasejs/9.6.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.6.1/firebase-auth.js"></script>
    <script>
        var firebaseConfig = {
            apiKey: "Your apiKey",
            authDomain: "Your authDomain",
            databaseURL: "Your databaseURL",
            projectId: "YOur projectID",
            storageBucket: "Your storageBucket",
            messagingSenderId: "Your messagingSenderId",
            appId: "YOur appId",
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
    </script>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'profile' %}">Profile</a></li>
            <li>
                <form id="logout-form" action={% url 'logout' %} method="post" style="display: none;">
                    {% csrf_token %}
                </form>
                <button type="button" onclick="document.getElementById('logout-form').submit();">Logout</button>
            </li>
            <li><a href="{% url 'library' %}">Library</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
        </ul>
    </nav>
     <main>
        {% block content%}{% endblock %}
     </main>
     {% block scripts %}{% endblock %}
     <script>
        document.addEventListener("DOMContentLoaded", function() {
            const csrfToken = '{{ csrf_token }}';
            const headers = new Headers();
            headers.append('X-CSRFToken', csrfToken);
        });
    </script>
</body>
</html>