{% extends 'layout.html' %}
{% load static %}

{% block title %}
    Edit Imported Text
{% endblock %}

{% block content %}
    <h2>Edit Imported Text</h2>
    <form id="edit-text-form" action="{% url 'save_imported_text' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="title" value="{{ title }}">
        <textarea name="text_content" rows="20" cols="80">{{ text_content }}</textarea>
        <br>
        <button type="submit">Save Text</button>
    </form>
{% endblock %}